* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    background-color: #1F2937;
    color: #f9FaF8;
    display: block;
}

.hero {
    padding: 1% 8% 5% 8%;
}

nav {
    float: right;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding-left: 25px;
}

li a:hover {
    color: #3882F6;
}

.nav-links li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight:lighter;
}

.nav-links li a:hover {
    color: #3882F6;
}

#logo {
    font-size: 24px;
    display: inline-block;
}

.top-section {
    padding: 1% 8% 5% 8%;
    display: flex;
    align-items: center;
}

.welcome-msg {
    padding: 0 5% 0 0;
    flex: 1 1 0%;
}

#welcome-txt {
    font-size: 48px;
    font-weight: bolder;
}

#welcome-sub-txt{
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;
    padding-bottom: 3%;

}

#main-img {
    width: 50%;
    height: auto;
    flex: 1 1 0%
}

#bttn-1 {
    background-color: #3882f6;
    padding: 10px 40px;
    font-size: 18px;
    color: #f9FaF8;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.reasons-sec {
    padding: 5% 15% 5% 15%;
}

#reas-tr {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-bottom: 30px;
}

.reas-box {
    display: flex;
    flex-wrap: wrap;
}


.reas-box div {
    flex: 1 1 0;
    padding: 3% 1%;
}

.reas-box img { 
    border: 3px solid #3882F6;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 20px;
    object-fit: cover;
    margin: 0;
}

.reas-box img:hover{
    box-shadow: 0 0 15px #3882F6;
}

.reas-box p {
    font-size: 18px;
    color: #3f3f3f;
    text-align: center;
    width: 250px;
}

.inspiration-sec {
    background-color: #E5E7EB;
    padding: 8% 20% 8% 20%;
}

#quote-ceo {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

#ceo {
    float: right;
    font-weight: 500;
}

.CTA-section {
    padding: 10% 8% 10% 8%;
    display: flex;
    justify-content: center;
}

.call-box {
    background-color: #3882F6;
    height: auto;
    width: 1000px;
    padding: 40px 100px 40px 100px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#join-today {
    color: #f9FaF8;
    font-size: 20px;
}

#click-button {
    color: #f9FaF8;
    font-size: 15px;
    font-weight: lighter;
}

#bttn-2 {
    background-color: #3882F6;
    color: #f9FaF8;
    border: 2px solid #f9FaF8;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
}

#bttn-2:hover{
    background-color: #f9FaF8;
    color: #3882F6;
}

footer {
    background-color: #1F2937;
    padding: 1% 0px;
}

#copyright {
    color: #e5e5e5;
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2%;
    }
    .top-section {
        flex-direction: column;
        padding: 0;
    }
    .welcome-msg{
        text-align: center;
        padding: 0% 2%;
    }
    #main-img {
        padding: 3% 0;
        width: 100%;
        height: auto;
    }
}